[submodule "extern/HELICS"]
	path = extern/HELICS
	url = https://github.com/GMLC-TDC/HELICS-src.git
	branch = HELICS_subproject
[submodule "extern/gtest"]
	path = extern/gtest
	url = ../../google/googletest.git
